		<!-- //section끝 -->
		<!--footer시작-->
	<footer class="footer">
		COPYRIGHT INFORMATION GOES HERE © 2022. ALL RIGHTS RESERVED.
	</footer>
	<script src="../../js/libs/jquery-1.11.3.min.js"></script>
	<script src="../../js/libs/swiper.min.js"></script>
	<script src="../../js/common.js"></script>
	<% if (page == "main") { %>
		<script src="../../js/main.js"></script>
	<% } %>
</body>
</html>
<!--footer끝-->
