<%
	var data = jsonData
%>
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="mobile-web-app-capable" content="yes">
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width">
<meta name="format-detection" content="telephone=no, address=no, email=no">
<meta property="og:type" content="website">
<meta property="og:title" content="루이가또즈">
<meta property="og:description" content="">
<meta property="og:url" content="">
<title><%= data.site.name.kor %></title>
<!-- 공통 css -->
<link rel="stylesheet" href="../../css/common.css">
<% if (page == "main") { %>
	<link rel="stylesheet" href="../../css/main.css">
<% } %>
</head>
	<body class="page-main">
	<header>
		<nav class="gnb is-active">
			<ul class="gnb__list">
				<li class="gnb__item">
					<a href="" class="gnb__link">TSP1</a>
				</li>
				<li class="gnb__item">
					<a href="" class="gnb__link">FEMALE</a>
				</li>
				<li class="gnb__item">
					<a href="" class="gnb__link">MALE</a>
				</li>
				<li class="gnb__item">
					<a href="" class="gnb__link">SENIOR</a>
				</li>
				<li class="gnb__item">
					<a href="" class="gnb__link">PRODUCTION</a>
				</li>
				<li class="gnb__item">
					<a href="" class="gnb__link">PORTFOLIO</a>
				</li>
				<li class="gnb__item">
					<a href="" class="gnb__link">CONTACT</a>
				</li>
			</ul>
		</nav>
	</header>
<!-- section시작 -->
