<%
	type = "main"
	page = "main"
%>
<% include ../_include/_header %>
<main>
	<article class="main-banner">
		<h2 class="main-banner__tit">TSP MALE MODEL</h2>
		<ul class="main-banner__list">
			<li class="main-banner__item">
				<p class="main-banner__first">kim</p>
				<p class="main-banner__last">ye yeong</p>
				<a href="" class="main-banner__link"></a>
			</li>
		</ul>
	</article>
</main>
<% include ../_include/_footer %>
