
.gnb{position:fixed; top:0; width:100%; bottom:0; background-color:$yellow;
    transform: translateX(-120%); transition: transform 0.5s;
    $this:&;
    &__list{margin:0; padding:0;}
    &__link{@include h2();}
    &.is-active{transform: translateX(0);}
    &.type-1depth{z-index:$depth1Zindex;}
    &.type-2depth{z-index:$depth2Zindex;;
        .gnb-body{min-height:50%; height:auto;}
        #{$this}__scroll{padding-bottom:calcRem(40rem); box-sizing:border-box;}
    }
    &__scroll{position:relative; overflow:auto; width:100%; height:100%;}
    &__close{overflow:hidden; display:block; position:absolute; top:calcRem(20rem); right: calcRem(-30rem); width:calcRem(16rem); height:calcRem(16rem); 
        @include background('/images/common/close.png','no-repeat center center / contain'); text-decoration: none; text-indent: -9999px;
    }
    &__banner{
        img{width:100%;}
    }
}
