@charset "UTF-8";
@import "variables";
@import "mixins";
@import "vendor";
@import "rule";
//메인
.main-banner{background-color: #000; height:100vh; padding:calcRem(96rem) calcRem(60rem) calcRem(64rem); box-sizing: border-box;
    &__list{height:100%; margin:0; padding:0; list-style:none; text-align: center;}
    &__item{position:relative; height:100%;}
    &__box{position: absolute; top:50%; transform: translateY(-50%);}
    &__img{position:absolute; top:50%; left:50%; transform:translate(-50%,-50%); width:100%;}
    &__tit{position:absolute; }
    &__first,&__last{color:$yellow; @include h1; text-transform: uppercase;}
    &__last{white-space: nowrap;}
    &__crop{overflow:hidden; position: relative; height:100%;}
}